[[headers]]
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Methods = "*"
    Access-Control-Allow-Headers = "*"

    [build]
  publish = "public"

[[redirects]]
  from = "/"
  to = "/db.json"
  status = 302